.accordion-button{
    background-color: transparent;
    background-image: none;
    color: #000000;
}

.accordion-button:not(.collapsed){
    background-color: transparent;
    color: #000000;
}

.transaction-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.transaction-actions Button {
  position: absolute;
  height: 50px;
  right: 100px;
}